.BlogPost {
	.metabox {
		display: flex;
		justify-content: center;

		.title {
			font-size: xx-large;
			font-weight: bold;
		}

		.info {
			display: flex;
			align-items: center;
			justify-content: space-between;

			color: var(--theme-weaktext);

			& a {
				color: var(--theme-weaktext);
			}

			.date {
				font-size: 0.8em;
			}
		}
	}
}

.CommentBox {
	h1.titleOnly {
		text-align: center;
	}

	.SingleComment {
		.author {
			margin-top: 15px;

			& a {
				color: var(--theme-weaktext);
			}
		}

		& p {
			margin: 0;
		}
	}
}
