body {
	background-color: var(--theme-background);
	color: var(--theme-text);
	font: 1.2em sans-serif;
	margin: 10px;
}

@media (prefers-color-scheme: light) {
	html {
		--theme-background: #ced2a0;
		--theme-text: #000;
		--theme-highlight: #004cff;
		--theme-weaktext: #333;
		--theme-error: red;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		--theme-background: #000;
		--theme-text: #d5dbdb;
		--theme-highlight: #0000c8;
		--theme-weaktext: #888;
		--theme-error: darkred;
	}
}

button {
	border: inherit;
	background: inherit;
	color: inherit;
	font: inherit;

	&:hover {
		cursor: pointer;
	}
}

a,
button {
	text-decoration: underline 0.1em #0000;
	text-underline-offset: 0.3em;
	transition: text-decoration-color 200ms, text-underline-offset 200ms;
	color: var(--theme-text);
}

.link {
	& a[data-disabled="yes"],
	& button[data-disabled="yes"] {
		color: var(--theme-weaktext);
	}

	&.obvious a,
	&.obvious button {
		text-decoration-color: color-mix(
			in srgb,
			var(--theme-highlight) 40%,
			transparent
		);
	}

	& a:hover,
	& button:hover {
		text-decoration-color: var(--theme-highlight);
		text-underline-offset: 0.15em;
	}
}

form {
	gap: 10px;

	& h2 {
		margin: 5px;
	}

	& input {
		font-size: 0.9em;
		color: var(--theme-text);
		background: var(--theme-background);
		border: groove var(--theme-highlight);
		width: 60%;
	}

	& textarea {
		color: var(--theme-text);
		background: var(--theme-background);
		border: groove var(--theme-highlight);
	}
}

.error {
	color: var(--theme-error);
}

.HLine {
	border-top: 2px solid var(--theme-highlight);
}

.Spacer {
	padding: 10px;
}

.centered {
	text-align: center;
}
