#Navigation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;

	& h1 {
		text-align: center;
		transition: font-size 500ms;
	}

	& > div {
		transition: font-size 500ms;
	}

	& .ProfileNav {
		text-align: right;
	}

	& .Home {
		display: flex;
		gap: 10px;
	}
}

@media (max-width: 500px) {
	#Navigation {
		& h1 {
			font-size: xx-large;
		}

		& > div {
			font-size: large;
		}
	}
}

@media (max-width: 400px) {
	#Navigation {
		& h1 {
			font-size: x-large;
		}

		& > div {
			font-size: medium;
		}
	}
}

@media (max-width: 350px) {
	#Navigation {
		grid-template-columns: 1fr 1fr;
		.Home {
			display: none;
		}
	}
}

.AuthForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
}
